

*{
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
img{
    width: 500px;
    height: 500px;
    object-fit: cover;

}

.carousel {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    height: 400px;
    width: 400px;
    overflow: hidden;
}
.image-container{
    display: flex;
    transform: translateX(0);
   /* transition: transform 0.5s ease-in-out;*/

}

.btn-container{
    display: flex;
    justify-content: space-between;

}

.btn{
    background-color: purple;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.btn:hover{
    outline: none;
}

.btn:focus{
    outline: none;
}





